@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}
body {
    background-color:  #201b2c;
    height: 100%;
}
form{
    color: #77ffc0;
    padding: 30px 30px;
    width: 96%;
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
    box-shadow: 0px 10px 40px #ffffff56;
    border-radius: 10px;
    background-color: #5c45907a;
}
form legend {
    text-align: center;
    padding: 10px 10px;
    font-size: 22px;
    border: 2px solid rgba(172, 255, 47, 0.48);
    border-radius: 5px;
    box-shadow: 0px 10px 20px -5px #fcfbfb56;

   
}
form fieldset{
    border: 2px solid rgba(172, 255, 47, 0.48);
    padding: 0 40px;
    border-radius: 5px;

}
.nome {
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(172, 255, 47, 0.48);
    box-shadow: 0px 7px 5px -5px #fcfbfb56;
    
}
.nome:hover {
    box-shadow: 0px 10px 60px -5px #fcfbfb56;

}
.nome :focus{
    outline: 0;
}
.lista {
    width: calc(80% + 26px); /* Função calc serve para somar a porcentagem mais os px que desejo aumentar */
    margin-top: 30px;
    padding: 20px 13px;
    display: inline-block;
    
}
.lista:hover {
    box-shadow: 0px 10px 60px -5px #fcfbfb56; 
}
/* Serve para pintar o que esta dentro da selecao, nesse caso pinta a opcao de numero 3
form select option:nth-of-type(3){
    color: brown;
    */

form h2 {
    margin-top: 20px;
}
.cidades {
    display: inline-block;
    text-align: left;
    padding: 10px;
   
    
}

.cidades span {
    margin-left: 13px;
    font-size: 16px;
    color: rgba(16, 250, 196, 0.718);
}
.comidas {
    display: inline-block;
    text-align: left;
    padding: 10px;
}
.comidas span {
    margin-left: 13px;
    font-size: 16px;
    color: rgba(16, 250, 196, 0.718);
}

.botao {
    margin-bottom: 10px;
    border: 0;
    padding: 10px 10px;
    border-radius: 10px;
    color: #77ffc0;
    background-color: #201b2c;;
    border: 2px solid rgba(172, 255, 47, 0.48);
    cursor: pointer;
}
.botao:hover {
    background-color: rgba(0, 179, 255, 0.76);
    box-shadow: 0px 5px 40px -10px #77ffc0 
}
form textarea {
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    resize: none; /* Desabilita para redmensionar a caixa */
    border: 2px solid rgba(172, 255, 47, 0.48);
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    color: #77ffc0;
    background-color: #201b2c80;

}
form textarea:hover {
    box-shadow: 0px 5px 40px -10px #77ffc0 
}